
.custom-img {
    max-width: 200px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    width: 100%;
    height: auto;
}

.a{
    max-width: 200px;
}

.b{
    max-height: 500px;
    max-width: 200px;
}